name: Deploy nexqloud-chain to Development

on:
  push:
    branches:
      - main
      - "mainnet-*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Define image tag
        id: meta
        run: |
          echo "image_name=nexqloud-chain" >> $GITHUB_OUTPUT
          echo "image_tag=${{ github.ref_name }}-${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Log in to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR_REGISTRY_URL }}
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.HARBOR_REGISTRY_URL }}/${{ vars.HARBOR_PROJECT }}/${{ steps.meta.outputs.image_name }}:${{ steps.meta.outputs.image_tag }}
            ${{ secrets.HARBOR_REGISTRY_URL }}/${{ vars.HARBOR_PROJECT }}/${{ steps.meta.outputs.image_name }}:latest
          cache-from: type=registry,ref=${{ secrets.HARBOR_REGISTRY_URL }}/${{ vars.HARBOR_PROJECT }}/${{ steps.meta.outputs.image_name }}:buildcache
          cache-to: type=registry,ref=${{ secrets.HARBOR_REGISTRY_URL }}/${{ vars.HARBOR_PROJECT }}/${{ steps.meta.outputs.image_name }}:buildcache,mode=max
